@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

html,
body {
  font-family: 'Noto Sans KR', sans-serif !important;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}

#wrapper {
  width: 130px !important;
  display: flex;
  flex-direction: column;
}

button {
  font-family: 'Noto Sans KR', sans-serif;
  margin-top: 5px;
  border: none;
  border-radius: 6px;
  background: dodgerblue;
  color: white;
  font-size: 15px;
  font-weight: 500;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
}

button:hover {
  background: rgb(0, 89, 255);
}

#help_wrapper {
  text-align: right;
}

#help_bt {
  font-size: 11px;
  padding: 0.2rem 0.3rem;
  background: none;
  color: #888;
}

#help_bt:hover {
  color: #555;
}

a {
  text-decoration: none;
  color: dodgerblue;
  font-size: 15px;
}

a:hover {
  color: rgb(0, 89, 255);
  text-decoration: underline;
}

#msg {
  margin: 40px auto 0px;
  width: 500px;
  font-size: 12px;
  font-weight: 400;
  padding: 0.1rem 0.3rem;
  color: white;
  background: #888;
  border-radius: 5px;
}

input {
  width: 120px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 11px;
}

hr {
  border: 1px solid #ddd;
}
